.hero {
  background-image: url(/public/images/home.png);
  background-position: right;
  background-size: cover;

  &__content {
    padding: 188px 80px 126px 20px;
  }

  &__title {
    font-family: "Intro Demo";
    font-size: 30px;
    line-height: 32.25px;
    color: white;
    margin-bottom: 36px;
  }

  &__description {
    font-size: 13px;
    line-height: 13.98px;
    color: white;
    margin-bottom: 40px;
  }

  &__link {
    font-size: 13px;
    line-height: 13.98px;
    color: white;
    background-color: #e60012;
    padding: 5px 35px;
  }
}
