.btn {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  font-family: "Okta Neue", sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 16.13px !important;
  color: white !important;
}

.dropdown-menu {
  margin-top: 10px !important;
}
