@font-face {
  font-family: "Okta Neue";
  src: url("./fonts/Okta/OktaNeue-Light.ttf");
  //   src: url("./fonts/Okta/OktaNeue-Medium.ttf") format("ttf"),
  //     url("./fonts/Okta/OktaNeue-Regular.ttf") format("ttf"),
  //     url("./fonts/Okta/OktaNeue-SemiBold.ttf") format("ttf"),
  //     url("./fonts/Okta/OktaNeue-UltraLight.ttf") format("ttf");
  //   font-weight: normal;
  //   font-style: normal;
}

@font-face {
  font-family: "Intro Demo";
  src: url("../fonts/Intro/IntroDemo-BlackCAPS.otf");
  //   src: url("./fonts/Intro/IntroDemo-BlackCAPS.otf") format("otf"),
  //     url("./fonts/Intro/IntroDemoCond-BlackCAPS.otf") format("otf"),
  //     url("./fonts/Intro/IntroDemoCond-LightCAPS.otf") format("otf");
  //   font-weight: normal;
  //   font-style: normal;
}
