@mixin on-desktop {
  @media (min-width: 1270px) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Okta Neue", sans-serif;
  font-weight: 300;
  min-width: 360px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-inline: 20px;

  @include on-desktop {
    padding-inline: 65px;
  }
}
