@mixin on-desktop {
  @media (min-width: 1270px) {
    @content;
  }
}

.swiper-pagination {
  position: unset;
}

.swiper-wrapper {
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  background-color: rgba(68, 0, 5, 0.7);
  width: 8px;
  height: 8px;

  @include on-desktop {
    height: 14px;
    width: 14px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #e60012;
}

.swiper-button-next::after {
  background-image: url(/public/images/right.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  content: "";
  width: 13px;
  height: 20px;
}

.swiper-button-prev::after {
  background-image: url(/public/images/left.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  content: "";
  width: 13px;
  height: 20px;
}
.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 98%);
}
