@mixin on-desktop {
  @media (min-width: 1270px) {
    @content;
  }
}

.footer {
  background-image: url(/public/images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    padding-block: 35px;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    @include on-desktop {
      justify-content: space-between;
    }
  }

  &__top {
    display: flex;
    gap: 150px;
  }

  &__center {
    display: flex;
    gap: 75px;
  }

  &__bottom {
    margin-bottom: 25px;

    @include on-desktop {
      margin-bottom: 50px;
    }
  }

  &__basement {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include on-desktop {
      justify-content: end;
      gap: 120px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__linkBig {
    font-weight: 500;
    font-size: 20px;
    line-height: 21.5px;
    color: rgba(255, 255, 255, 1);
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 21.5px;
    color: white;
  }

  &__linkSmall {
    font-weight: 300;
    font-size: 15px;
    line-height: 16.13px;
    color: rgba(255, 255, 255, 0.7);
  }

  &__textUnderline {
    text-decoration: underline;
  }

  &__tel {
    font-weight: 300;
    font-size: 20px;
    line-height: 21.5px;
    color: rgba(255, 255, 255, 1);
  }

  &__telPC {
    @include on-desktop {
      margin-bottom: 40px;
    }
  }

  &__fb {
    background-image: url(/public/images/fb.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26px;
    height: 26px;
    display: block;
  }

  &__instagram {
    background-image: url(/public/images/intagram.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26px;
    height: 26px;
    display: block;
  }

  &__social {
    display: flex;
    gap: 15px;
  }

  &__language {
    display: flex;
    gap: 5px;
  }

  &__lang {
    font-weight: 500;
    font-size: 20px;
    line-height: 21.5px;
    color: rgba(255, 255, 255, 1);
  }

  &__span {
    color: rgba(255, 255, 255, 1);
  }
}
