@mixin on-desktop {
  @media (min-width: 1270px) {
    @content;
  }
}

.news {
  padding-bottom: 40px;

  &__title {
    font-family: "Intro Demo";
    font-weight: 400;
    font-size: 30px;
    line-height: 32.25px;
    color: rgba(79, 31, 35, 1);
    margin-bottom: 15px;

    @include on-desktop {
      font-size: 60px;
      line-height: 64.5px;
      margin-bottom: 30px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__item {
    position: relative;
  }

  &__img {
    background-image: url(/public/images/blog1.png);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;

    @include on-desktop {
      height: 450px;
    }
  }

  &__img1 {
    background-image: url(/public/images/blog.png);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;

    @include on-desktop {
      height: 450px;
    }
  }

  &__img2 {
    background-image: url(/public/images/blog2.png);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;

    @include on-desktop {
      height: 450px;
    }
  }

  &__text {
    position: absolute;
    bottom: 0%;
    background-color: rgba(68, 0, 5, 0.7);
    padding: 10px;

    @include on-desktop {
      padding: 20px;
    }
  }

  &__headline {
    font-weight: 500;
    font-size: 22px;
    line-height: 23.12px;
    color: white;
    margin-bottom: 10px;

    @include on-desktop {
      font-size: 28px;
      line-height: 29.43px;
    }
  }

  &__description {
    font-weight: 300;
    font-size: 10px;
    line-height: 10.51px;
    letter-spacing: 0.4px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px;

    @include on-desktop {
      font-size: 12px;
      line-height: 12.61px;
      margin-bottom: 25px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__date {
    font-weight: 300;
    font-size: 10px;
    line-height: 10.51px;
    color: rgba(255, 255, 255, 0.7);

    @include on-desktop {
      font-size: 15px;
      line-height: 15.76px;
    }
  }

  &__link {
    text-decoration: underline;
    font-weight: 300;
    font-size: 10px;
    line-height: 10.51px;
    color: rgba(255, 255, 255, 0.7);

    @include on-desktop {
      font-size: 15px;
      line-height: 15.76px;
    }
  }
}
